<div id="<%= dom_id employee %>">
  <p>
    <strong>Firstname:</strong>
    <%= employee.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= employee.lastname %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Hire_date:</strong>
    <%= employee.hire_date %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= employee.contact %>
  </p>

</div>
