<%= form_with(model: patient_record) do |form| %>
<% if patient_record.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(patient_record.errors.count, "error") %> prohibited this patient_record from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% patient_record.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :visit_date, class: label_class %>
          <%= form.date_field :visit_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :dianosis, class: label_class %>
          <%= form.text_field :dianosis, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :treatment, class: label_class %>
          <%= form.text_field :treatment, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :notes, class: label_class %>
          <%= form.text_field :notes, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :prescription, class: label_class %>
          <%= form.text_field :prescription, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if patient_record.persisted? %>
<%= link_to "Cancel", patient_record, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", patient_records_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
