<div id="<%= dom_id patient_record %>">
  <p>
    <strong>Visit_date:</strong>
    <%= patient_record.visit_date %>
  </p>

  <p>
    <strong>Dianosis:</strong>
    <%= patient_record.dianosis %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= patient_record.treatment %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= patient_record.notes %>
  </p>

  <p>
    <strong>Prescription:</strong>
    <%= patient_record.prescription %>
  </p>

</div>
