<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Patient_record</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to patient_records_path, class: button_class(theme: "transparent") do %>
      All Patient_records
      <% end %>
      <%= link_to edit_patient_record_path(@patient_record), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Visit_date:</p>
        <p><%= @patient_record.visit_date %></p>
      </li>
      <li>
        <p class="font-semibold">Dianosis:</p>
        <p><%= @patient_record.dianosis %></p>
      </li>
      <li>
        <p class="font-semibold">Treatment:</p>
        <p><%= @patient_record.treatment %></p>
      </li>
      <li>
        <p class="font-semibold">Notes:</p>
        <p><%= @patient_record.notes %></p>
      </li>
      <li>
        <p class="font-semibold">Prescription:</p>
        <p><%= @patient_record.prescription %></p>
      </li>
  </ul>
</div>
