<div id="<%= dom_id user_c %>">
  <p>
    <strong>Username:</strong>
    <%= user_c.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user_c.password %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user_c.role %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_c.email %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= user_c.contact %>
  </p>

</div>
