<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">User_c</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to user_cs_path, class: button_class(theme: "transparent") do %>
        All User_cs
      <% end %>
      <%= link_to edit_user_c_path(@user_c), class: button_class(theme:"primary") do %>
        Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
    <li>
      <p class="font-semibold">Username:</p>
      <p><%= @user_c.username %></p>
    </li>
    <li>
      <p class="font-semibold">Password:</p>
      <p><%= @user_c.password %></p>
    </li>
    <li>
      <p class="font-semibold">Role:</p>
      <p><%= @user_c.role %></p>
    </li>
    <li>
      <p class="font-semibold">Email:</p>
      <p><%= @user_c.email %></p>
    </li>
    <li>
      <p class="font-semibold">Contact:</p>
      <p><%= @user_c.contact %></p>
    </li>
    
  </ul>
</div>
