<div id="<%= dom_id patient %>">
  <p>
    <strong>Firstname:</strong>
    <%= patient.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= patient.lastname %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= patient.contact %>
  </p>

  <p>
    <strong>Emergency_contact:</strong>
    <%= patient.emergency_contact %>
  </p>

  <p>
    <strong>Date_of_birth:</strong>
    <%= patient.date_of_birth %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= patient.detail %>
  </p>

</div>
