<div id="<%= dom_id patient %>">
  <p>
    <strong>Firstname:</strong>
    <%= patient.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= patient.lastname %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= patient.contact %>
  </p>

  <p>
    <strong>Emergency_Contact:</strong>
    <%= patient.emergency_contact %>
  </p>

  <p>
    <strong>Date_of_Birth:</strong>
    <%= patient.date_of_birth %>
  </p>

  <p>
    <strong>Visit_Date:</strong>
    <%= patient.visit_date %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= patient.diagnosis %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= patient.treatment %>
  </p>

  <p>
    <strong>Prescription:</strong>
    <%= patient.prescription %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= patient.notes %>
  </p>
</div>
