<div class="max-w-3xl mx-auto px-4">
  <!-- Header -->
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Patient</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to patients_path, class: button_class(theme: "transparent") do %>
        All Patients
      <% end %>
      <%= link_to edit_patient_path(@patient), class: button_class(theme: "primary") do %>
        Edit
      <% end %>
    </div>
  </div>

  <!-- Patient Details -->
  <ul class="text-slate-700">
    <li>
      <p class="font-semibold">Firstname:</p>
      <p><%= @patient.firstname %></p>
    </li>
    <li>
      <p class="font-semibold">Lastname:</p>
      <p><%= @patient.lastname %></p>
    </li>
    <li>
      <p class="font-semibold">Gender:</p>
      <p><%= @patient.gender %></p>
    </li>
    <li>
      <p class="font-semibold">Age:</p>
      <p><%= @patient.age %></p>
    </li>
    <li>
      <p class="font-semibold">Contact:</p>
      <p><%= @patient.contact %></p>
    </li>
    <li>
      <p class="font-semibold">Emergency_Contact:</p>
      <p><%= @patient.emergency_contact %></p>
    </li>
    <li>
      <p class="font-semibold">Date_of_Birth:</p>
      <p><%= @patient.date_of_birth %></p>
    </li>
    <li>
      <p class="font-semibold">Visit_Date:</p>
      <p><%= @patient.visit_date %></p>
    </li>
    <li>
      <p class="font-semibold">Diagnosis:</p>
      <p><%= @patient.diagnosis %></p>
    </li>
    <li>
      <p class="font-semibold">Treatment:</p>
      <p><%= @patient.treatment %></p>
    </li>
    <li>
      <p class="font-semibold">Prescription:</p>
      <p><%= @patient.prescription %></p>
    </li>
    <li>
      <p class="font-semibold">Notes:</p>
      <p><%= @patient.notes %></p>
    </li>
  </ul>
</div>
