<div id="<%= dom_id appointment %>"> 
  <p>
    <strong>Patient:</strong>
    <%= appointment.patient.firstname %> <%= appointment.patient.lastname %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= appointment.employee.firstname %> <%= appointment.employee.lastname %>
  </p>

  <p>
    <strong>Appointment_Date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Appointment_Time:</strong>
    <%= appointment.appointment_time %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status.humanize %>
  </p>

  <p>
    <strong>Created_By:</strong>
    <%= appointment.user&.full_name || "N/A" %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= appointment.notes.presence || "No additional notes." %>
  </p>
</div>
