<div id="<%= dom_id appointment %>">
  <p>
    <strong>Patient_id:</strong>
    <%= appointment.patient_id %>
  </p>

  <p>
    <strong>Employee_id:</strong>
    <%= appointment.employee_id %>
  </p>

  <p>
    <strong>Appointment-date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Appointment-time:</strong>
    <%= appointment.appointment_time %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= appointment.reason %>
  </p>

</div>
