<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Appointment</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to appointments_path, class: button_class(theme: "transparent") do %>
        All Appointments
      <% end %>
      <%= link_to edit_appointment_path(@appointment), class: button_class(theme:"primary") do %>
        Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Patient:</p>
        <p><%= @appointment.patient.firstname %> <%= @appointment.patient.lastname %></p>
      </li>
      <li>
        <p class="font-semibold">Employee:</p>
        <p><%= @appointment.employee.firstname %> <%= @appointment.employee.lastname %></p>
      </li>
      <li>
        <p class="font-semibold">Appointment_Date:</p>
        <p><%= @appointment.appointment_date %></p>
      </li>
      <li>
        <p class="font-semibold">Appointment_Time:</p>
        <p><%= @appointment.appointment_time %></p>
      </li>
      <li>
        <p class="font-semibold">Reason:</p>
        <p><%= @appointment.reason %></p>
      </li>
      <li>
        <p class="font-semibold">Status:</p>
        <p><%= @appointment.status.humanize %></p>
      </li>
      <li>
        <p class="font-semibold">Created_By:</p>
        <p><%= @appointment.user&.full_name || "N/A" %></p>
      </li>
      <li>
        <p class="font-semibold">Notes:</p>
        <p><%= @appointment.notes.presence || "No additional notes." %></p>
      </li>
  </ul>
</div>
